{{ define "Index" }}
  {{ template "Header" }}
     <table border="1">
      <thead>
      <tr>
        <td>FirstName</td>
        <td>SecondName</td>
        <td>Department</td>
        <td>Email</td>
		<td>Edit</td>
		<td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .fName }}</td>
        <td> {{ .sName }} </td>
        <td>{{ .dept }} </td>
		<td>{{ .email }} </td>
        <td><a href="/edit?id={{ .Id }}">Edit</a></td>
        <td><a href="/delete?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}
