{{ define "Index" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Maithanam Website</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>123Maithanam website for mysql</h1> 
		
	<table border="1">
      <tr>
        <td>FirstName</td>
        <td>SecondName</td>
        <td>Department</td>
        <td>Email</td>
		<td>Edit</td>
		<td>Delete</td>
      </tr>
	  {{range $y, $x := . }}
      <tr>
		<td>{{ $y.fName }}</td>
		<td>{{ $y.sName }}</td>
		<td>{{ $y.dptName }}</td>
		<td>{{ $y.eMail }}</td>
		<td><a href="/edit?id={{ $y.fName }}">Edit</a></td>
		<td><a href="/delete?id={{ $y.fName }}">Delete</a><td>
      </tr>
    {{ end }}
    </table>

    </body>
</html>
{{ end }}
