{{ define "Index" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Maithanam Website</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>cMaithanam website for mysql</h1> 
		
	{{ $length := len . }}
    <h3>Length {{$length}}</h3> 

	<table border="1">
      <tr>
        <td>FirstName</td>
      </tr>
    {{ range . }}
      <tr>
        <td><h1>kMaithanam website for mysql</h1></td>
      </tr>
    {{ end }}
    </table>
	
	<table border="1">
      <tr>
        <td>FirstName</td>
        <td>SecondName</td>
        <td>Department</td>
        <td>Email</td>
		<td>Edit</td>
		<td>Delete</td>
      </tr>
    {{ range . }}
      <tr>
        <td>{{ .fName }}</td>
        <td> {{ .sName }} </td>
        <td>{{ .dptName }} </td>
		<td>{{ .eMail }} </td>
        <td><a href="/edit?id={{ .fName }}">Edit</a></td>
        <td><a href="/delete?id={{ .fName }}">Delete</a><td>
      </tr>
    {{ end }}
    </table>

    </body>
</html>
{{ end }}
